/* Extra small devices (portrait phones, less than 320px) */
@media (max-width: 320px) { 
  .cus_xs::before{
  	transform: translateY(92px);
  }
  .custom-icon img{
  width: 40px;
}
 }
/* Extra small devices (portrait phones, less than 576px)*/ 
@media (min-width: 321px) and (max-width: 375px) { 

  .custom-icon img{
  width: 50px;
  
}
 }
/* Extra small devices (portrait phones, less than 576px)*/ 
@media (max-width: 575.98px) { 
  .custom_navbar li a{
    margin-left: 15px;
  }

  .custom_navbar1{
  	padding-left: 15px;
  }
  .cus-img {
    padding-left: 20px;
}
  .custom_user_row{
    padding-left: 15px;
  }
 }
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
 
  .cus-img {
    padding-left: 60px;
}
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .custom_navbar li a{
    margin-left: 15px;
  } 
  .custom_navbar1{
  	padding-left: 15px;
  }

   .cus-img {
    padding-left: 55px;
}
}
 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

  .cus-img {
    padding-left: 80px;
}
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}
